{% extends "layout.html" %}
{% block title %}
    Buy
{% endblock %}
{% block main %}
<div class="content-section col-sm-12 col-md-12 col-lg-12 m-0">
    <!-- <h3>Account Info</h3> -->
    <!-- <p class="text-muted">You can put any information here you'd like.</p> -->
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <!-- <legend class="border-bottom mb-4 text-white">Buy Stock</legend> -->
            
            <div class="form-group m-5" style="border:1px solid red;">
                {% if form.symbol.errors %}
                {{ form.symbol(class="form-control form-control-lg is-invalid", placeholder="Symbol",
                title="Alphanumeric symbol", autocomplete="off") }}
                <div class="invalid-feedback">
                    {% for error in form.symbol.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.symbol(class="form-control form-control-lg", placeholder="Symbol", title="Alphanumeric
                symbol", autocomplete="off") }}
                {% endif %}
            </div>
            
            <div class="form-group m-5" style="border:1px solid #dedede;">
                {% if form.quantity.errors %}
                {{ form.quantity(class="form-control form-control-lg is-invalid", placeholder="Quantity",
                autocomplete="off")}}
                <div class="invalid-feedback">
                    {% for error in form.quantity.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.quantity(class="form-control form-control-lg", placeholder="Quantity", autocomplete="off") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mt-0">
            {{ form.submit(class="btn btn-lg", style="color:#DEE6F3; background-color: #2866EC;border-width:2px;border-radius:100px; border-color:#D3E6FE25; width: 20%;")}}
        </div>
    </form>
</div>


{% endblock %}