{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}
{% block main %}
<table class="table table-striped table-borderless" style="background-color: #9cb6ea; border-radius: 5px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Transaction</th>
      </tr>
    </thead>
    <tbody style="border-style:none">
    {% for count in range(0, counts) %}
        <tr>
            <th scope="row"> {{ count }} </th>
            
            <td>
                {{ stocks[count] }}
            </td>
            <td>
                {{ price[count] | usd }}
            </td>            
            <td>
                {{ quantity[count] }}
            </td>
            <td>
                {{ transactions[count] }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}


