{% extends "layout.html" %}
{% block title %}
    Portfolio
{% endblock %}
{% block main %}
<table class="table table-striped table-borderless" style="background-color: #9cb6ea; border-radius: 5px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody style="border-style:none">
    {% for count in range(0, counts) %}
        <tr>
            <th scope="row"> {{ count+1 }} </th>
            
            <td>
                {{ stocks[count] }}
            </td>
            <td>
                {{ price[count] | usd }}
            </td>            
            <td>
                {{ quantity[count] }}
            </td>
            <td>
              {{  total[count]  | usd }}
            </td>
        </tr>
        
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>Cash</td>
        <td colspan="3"></td>
        <td>{{ current | usd }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td colspan="3"></td>
        <td> {{ grand_total | usd }}</td>
      </tr>
    </tfoot>
  </table>
  <!-- <td></td> -->
  <!-- <td> </td> -->
{% endblock %}


